[Unit]
Description=skin_alergy_detection-uWSGI-instance
After=network.target postgresql-14.service

[Service]
User=centos
Group=nginx
WorkingDirectory=/opt/skin_alergy_detection
Environment="PATH=/opt/skin_alergy_detection/venv/bin"
ExecStart=/opt/skin_alergy_detection/venv/bin/uwsgi --ini /opt/skin_alergy_detection/uwsgi/uwsgi.ini
Restart=always
KillSignal=SIGQUIT
Type=notify
NotifyAccess=all

[Install]
WantedBy=multi-user.target
